<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>T&C with Instructions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <a href="index.html" ><img src="assets/img/My Post.png" alt="" class="img-fluid" id="logomain" style="margin-left: 50px; margin-right: 40px;"></a>
    <div class="container d-flex align-items-center justify-content-between">
      <!-- <a href="index.html" ><img src="assets/img/My Post.png" alt="" class="img-fluid"></a> -->
      <h1 class="logo"><a href="index.html" style="font-family:'URW Chancery L', 'cursive';">Royal Splits</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
            <li><a class="nav-link scrollto" href="index.html#about">About Us</a></li>
            <li><a class="nav-link scrollto" href="index.html#services">Product</a></li>
            <li><a class="nav-link scrollto" href="form.html">Whole Sale</a></li>
            <li><a class="nav-link scrollto" href="contact-us.html">Contact Us</a></li>
            <li><a class="nav-link scrollto" href="terms.html#about1">T&C</a></li>
            <li><a class="nav-link scrollto" href="terms.html#instruct">Instruction</a></li>
            <li><a class="nav-link scrollto" href="form.html">Login</a></li>
        </ul>
        <a class="nav-link scrollto" href="form.html" ><i class="fa fa-shopping-cart"  style="font-size:26px; padding: 10px 20px 10px 10px;"></i></a>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
   <!-- ======= About Section ======= -->
   <section id="about1" class="about">
    <div class="container">
        <div class="nine">
            <h1>Terms and Condition<span>None Higher</span></h1>
          </div>
      <div class="row">
        <div class="col-lg-12 pt-12 pt-lg-12 order-12 order-lg-12 content" data-aos="fade-right">

        <p class="fst-italic"><i class="bi bi-exclamation-triangle-fill" style="color: rgb(255, 34, 34); font-size: 20px;"></i> IMPORTANT: PLEASE READ THE FOLLOWING TERMS AND CONDITIONS CAREFULLY. THEY CONTAIN IMPORTANT INFORMATION ABOUT YOUR RIGHTS AND OBLIGATIONS, AS WELL AS LIMITATIONS AND EXCLUSIONS THAT APPLY TO YOUR PURCHASES. </p>
        <ul>
            <h2 style="font-weight: 400;">Product Availability:</h2>
            <li style="margin-bottom: 20px; "><i class="bi bi-lightbulb-fill"></i> Royal Splits cannot guarantee product availability and products. Items may not be available for immediate delivery. Royal Splits reserves the right, without liability or prior notice, to revise, discontinue, or cease to make available any or all products or to cancel any order. </li>
            <h2 style="font-weight: 400;">Typographical Errors</h2>
            <li style="margin-bottom: 20px;"><i class="bi bi-lightbulb-fill"></i> Royal Splits strives to make every piece of information as accurate as possible. In the event a product is listed at an incorrect price or with incorrect information due to typographical error or error in pricing or product information, we shall have the right to refuse or cancel any orders placed for products listed at the incorrect price. Royal Splits shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit card has been charged. If your credit card has already been charged for the purchase and your order is canceled by Royal Splits Inc., Royal Splits shall immediately issue a credit to your credit card account in the amount of the charge.</li>
            <h2 style="font-weight: 400;">Payment and Importation</h2>
            <li style="margin-bottom: 20px;"><i class="bi bi-lightbulb-fill"></i> Import duties and local taxes are NOT included in the quoted price of goods being delivered to any locations. You will be responsible for the paying of any and all import duties and local taxes including any administration charges upon receipt.</li>
            <h2 style="font-weight: 400;">Return Policy</h2>
            <li><i class="bi bi-lightbulb-fill"></i> All sales are final. No refunds. Royal Splits, Inc. will repair or replace products at our discretion. All shipping costs for returns are the responsibility of the customer. </li>
            <li style="margin-bottom: 20px;"><i class="bi bi-lightbulb-fill"></i> The Royal Splits Online Store is available to customers in the continental United States only.  Any customers outside of the continental United States seeking to purchase our products shall contact our sales office to arrange custom shipping charges. Please understand that shipping costs may vary state to state, region to region, and country to country and is the sole responsibility of the consumer. Customer shall bear any return shipping costs.</li>
            <h2 style="font-weight: 400;">We recommend that</h2>
            <li><i class="bi bi-patch-check-fill"></i> Use a carrier that offers shipment tracking for all returns  </li>
            <li><i class="bi bi-patch-check-fill"></i> Either insure your package for safe return to Royal Splits or declare the full value of the shipment so that you are completely protected if the shipment is lost or damaged in transit.<b> If you choose not to then:</b></li>
            <li style="margin-left: 100px;"><i class="bi bi-list-ol"></i> Use a carrier that offers tracking.</b></li>
            <li style="margin-bottom:20px; margin-left: 100px;"><i class="bi bi-list-ol"></i> Insure or declare the full value of the product, you will be responsible for any loss or damage to the product during shipping.</b></li>
            <h2 style="font-weight: 400;">Online Store Private Policy</h2>
            <li><i class="bi bi-lightbulb-fill"></i> Royal Splits respects your privacy and we are committed to protecting it. We believe in keeping your information confidential. We only collect information from you when you specifically and knowingly provide such information. Any information we collect is used for the purpose of providing you with a more satisfying and personalized shopping and browsing experience.   </li>
            <li style="margin-bottom: 20px;"><i class="bi bi-lightbulb-fill"></i> Royal Splits does not share, sell or rent any personal information to other companies or third parties.</li>
            <li style="margin-bottom: 20px;"><i class="bi bi-patch-check-fill"></i> The Royal Splits Online Store collects and uses information in the following ways:   Order Fulfillment - When you order from our site, we request your, name, email address, mailing address, telephone number, credit card number and expiration date. This information allows us to process, fulfill and alert you to the status of your order.  </li>
            <li style="margin-bottom: 20px;"><i class="bi bi-patch-check-fill"></i> We may use this information about your purchases to enhance your shopping experience by notifying you of special promotions, functionality changes and new services that we think you will find valuable. You may choose to remove yourself from this list at any time by unsubscribing from our email broadcasts at any time. We may also monitor customer traffic patterns and site usage to help us develop the design and layout that best suits our customers. </li>
            <li style="margin-bottom: 20px;"><i class="bi bi-patch-check-fill"></i> Royal Splits is very protective of the privacy of its customers. If at any time we are required by law or by a legal process to release customer information, we must cooperate fully. </li>
            <li style="margin-bottom: 20px;"><i class="bi bi-patch-check-fill"></i> Royal Splits reserves the right to change, alter or revise any part of our policies at any time with or without prior notice. </li>
        </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="instruct" class="about">
    <div class="container">
        <div class="nine">
            <h1>Instructions <span>None Higher</span></h1>
          </div>
      <div class="row">
        <div class="col-lg-12 pt-12 pt-lg-12 order-12 order-lg-12 content" data-aos="fade-right">
        <div class="container d-flex align-items-center" style="justify-content: center;">
        <h2 ><h2>
        </div>
        <ul>
            <h2 style="font-weight: 400; margin-top: 30px;">For Royal Splits blunt box and adaptor:</h2>
            <li><i class="bi bi-arrow-right-circle-fill" ></i> For Blunts, remove the adaptor.</li>
            <li style="margin-bottom: 100px;"><i class="bi bi-arrow-right-circle-fill" ></i> For Cigarillo or Mini Cigarillo, insert the adaptor.</li>
            <h2 style="font-weight: 400;">For Blunt, Cigarillo, Mini Cigarillo</h2>
            <li><i class="bi bi-arrow-right-circle-fill"></i> Hold your Royal Splits blunt box and insert cigar.</li>
            <li><i class="bi bi-arrow-right-circle-fill"></i> Push the cigar through the chamber until the cigar comes through the back side of the Blunt Box about an inch. </li>
            <li><i class="bi bi-arrow-right-circle-fill"></i> Pull the cigar the rest of the way through the blunt box.</li>
            <li><i class="bi bi-arrow-right-circle-fill"></i> A perfect split with the cigar still inside the wrapper.</li>
            <li><i class="bi bi-arrow-right-circle-fill"></i> Remove the wrapper when you are ready to roll.</li>
            <li><i class="bi bi-arrow-right-circle-fill"></i> A perfect split with leaf intact.</li>
            <li><i class="bi bi-arrow-right-circle-fill"></i> Remove tobacco and the result is an unblemished casing.</li>
        </ul>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Day</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>  
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>