{% extends 'base.html' %}
{% load socialaccount %}
{% providers_media_js %}
{% block content %}
{% load static %}
<style>
body{
  background: linear-gradient(to bottom, #434343 0%, #000000 100%); 
}
  .btn-buynow {
  font-family: "Raleway", sans-serif;
  margin-top: 1%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  width: 150px;
  letter-spacing: 0.5px;
  display:inline-block;
  padding: 10px 30px;
  transition: 0.5s;
  border: 2px solid rgb(250, 250, 250);
  color: #fff;
  border-radius: 6px;

}
#services .btn-buynow:hover{
  background: #ececec;
  border-radius: 6px;
  font-weight: 500;
  color: #000;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;

}
</style>
<header id="header" class="d-flex align-items-center">
                    <a href="{% url 'home' %}" ><img src="{% static 'assets/img/My Post.png' %}" alt="" class="img-fluid" id="logomain" style="margin-left: 50px; margin-right: 40px;"></a>
                    <div class="container d-flex align-items-center justify-content-between">
                      <h1 class="logo"><a href="{% url 'home' %}" style="font-family: 'Dancing Script', cursive; text-transform: capitalize;">Royal Splits</a></h1>
                      <nav id="navbar" class="navbar">
                        <ul>
                          <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
                          <li><a class="nav-link scrollto" href="{% url 'home' %}">Why Us</a></li>
                          <li><a class="nav-link scrollto" href="{% url 'page_about' %}">About Us</a></li>
                          <li><a class="nav-link scrollto" href="{% url 'home' %}">Product</a></li>
                          
                                  {% if user.is_authenticated %}
                              <a class="nav-item nav-link active" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                                <form id="logout" method="POST" action="{% url 'logout' %}">
                                 {% csrf_token %}
                                 <input type="hidden" />
                                 </form>
                             
                         {% else %} 
                            <a class="nav-item nav-link active" href="{% url 'signup' %}">Signup</a>
                       <a class="nav-item nav-link active" href="{% url 'login' %}">Login</a>
                        {% endif %} 
                          <a class="nav-link scrollto" href="{% url 'formpage' %}" ><i class="fa fa-shopping-cart"  style="font-size:26px; padding: 10px 20px 10px 10px; align-self: center;"></i></a>
                            <i class="bi bi-list mobile-nav-toggle"></i>
                          <li class="dropdown"><a href="#"><span>Other Options</span> <i class="bi bi-chevron-down"></i></a>
                                <ul>
                                  <li><a class="nav-link scrollto" href="{% url 'formpage' %}">Whole Sale</a></li>
                                    <li><a class="nav-link scrollto" href="{% url 'contact' %}">Contact Us</a></li>
                                    <li><a class="nav-link scrollto" href="{% url 'tnc' %}">T&C</a></li>
                                     <li><a class="nav-link scrollto" href="{% url 'tnc' %}">Instruction</a></li>
                                    <li><a class="nav-link scrollto" href="{% url 'profile_setting' %}">Profile Settings</a></li>
                                </ul>
                          </li>
                        </ul>
                        <i class="bi bi-list mobile-nav-toggle"></i>
                      </nav><!-- .navbar -->
                  </header>
<center>
<div class="row">
     
 </div>
 </div>
</center>
<center>
<div class="row">
     
 </div>
 </div>
</center>
<section>
  <div class="container" style="display: flex;justify-content: center;">
		<center><h1 style="font-size: 80px;color:white;font-family: 'Dancing Script', cursive; text-transform: capitalize; padding-bottom: 20px;">Sign Up Here</h1>
		<form method="POST" action="{% url 'signup' %}">
		{% csrf_token %}
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-3 col-form-label" style="color: white;font-size: 18px; font-weight: 500;padding: 10px; text-align: left;">Username:</label>
      <div class="col-sm-9" >
        <input type="text" name="username" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-3 col-form-label" style="color: white;font-size: 18px; font-weight: 500;padding: 10px; text-align: left;">E-mail:</label>
      <div class="col-sm-9" >
        <input type="email" name="email" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-3 col-form-label" style="color: white;font-size: 18px; font-weight: 500;padding: 10px; text-align: left;">Password:</label>
      <div class="col-sm-9" >
        <input type="password" name="password1" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-3 col-form-label" style="color: white;font-size: 18px; font-weight: 500;padding: 10px; text-align: left;">Confirm:</label>
      <div class="col-sm-9" >
        <input type="password" name="password2" class="form-control">
      </div>
    </div>
		<a class="btn-buynow" style="cursor: pointer;"><input  type="submit" value="Sign Up" style="background: none;color: white; border: none;padding: 0; font: inherit;outline: inherit;"></a>
		</form><br/>
      <h3 style="color: white;">OR</h3>
      <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
        
          <button class="btn btn-primary mb-2">
              <a href="{% provider_login_url 'facebook' method='oauth2' %}" style="color: white; text-decoration: none;">Login with Facebook
              </a>
          </button>
          
      </div>
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
          <button class="btn btn-danger mb-2">
              <a  href="{% url 'social:begin' 'google-oauth2' %}" style="color: white; text-decoration: none;">Login with Google
              </a></button>
      </div>
       </div>
       </div>
<div class="container">
	<center>
  {% if error %}
  {{ error }}
  {% endif %}

</center>
<center>
<h5 style="color: #fff;">Already a member? <a href="{% url 'login' %}">Log in</a></h5></center>
</div>

	
</section>
<footer class="background-1 color-8 py-3 fs--1 fw-600 font-heading">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-auto font-1">&copy; 2015 The Royal Splits &trade; </div>
          <div class="col fs-0 text-right">
              <a class="p-2 color-8" href="#">
                  <i class="fa fa-facebook"></i>
              </a>
              <a class="p-2 color-8" href="#">
                  <i class="fa fa-twitter"></i>
              </a>
              <a class="p-2 color-8" href="#">
                  <i class="fa fa-instagram"></i>
              </a>
              <a class="p-2 color-8" href="#">
                  <i class="fa fa-behance"></i>
              </a>
              <a class="p-2 color-8" href="#">
                  <i class="fa fa-dribbble"></i>
              </a>
          </div>
      </div>
  </div>
</footer><!-- End Footer -->
{% endblock %}